<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
</head>
<body>
    <div class="header">
        @Html.Action("SiteMenu", "Home")
    </div>

    <div class="content"> 
        @RenderBody()
    </div>

    <div class="footer">

    </div>

    <script src="~/Scripts/jquery.js"></script>
    @RenderSection("scripts")
</body>
</html>
