@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 

        @Html.Action("Menu", new { name = "XXX" })

        @*@Html.Partial("Menu", new MenuModel() { UserName = "Roni" })*@
    </div>
</body>
</html>
