<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>

    <link href="~/Styles/Site.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <h1>Add Contact</h1>

        <form method="post">
            <div class="field">
                <div class="field-label">Name</div>
                <div class="field-editor">
                    <input name="name" />
                </div>
            </div>

            <div class="field">
                <div class="field-label">E-Mail</div>
                <div class="field-editor">
                    <input name="email" />
                </div>
            </div>

            <div class="buttons">
                <button>Add</button>
            </div>
        </form>
    </div>
</body>
</html>
