
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <form method="post" action="/Account/Login">
            User Name:<br />
            <input name="userName" />

            <br />
            <br />
            Password: <br />
            <input type="password" name="password" />

            <br />
            <br />
            <button>Login</button>
        </form>
    </div>
</body>
</html>
